<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="utf-8">
    <title>Tennis Partner App</title>
    <link rel="icon" href="https://fav.farm/🎾" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Varela+Round" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

   <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js", "integrity": "sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i", "crossorigin": "anonymous", "defer": "defer", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :javascript %>
  </head>

  <body>
    <%= yield :header %>
    <%= yield :main %>
    <%= yield :footer %>
  </body>
</html>
