<% content_for :header do %>
  <header class="default">
    <%= yield :title %>
  </header>
<% end %>

<% content_for :main do %>
  <main>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </main>
<% end %>

<% content_for :footer do %>
  <footer class="default">
    <%= render 'layouts/navbar' %>
  </footer>
<% end %>

<%= render template: "layouts/application" %>
