<% content_for :header do %>
  <header class="actions visitor">
    <%= yield :back_button %>
    <%= yield :title %>
  </header>
<% end %>

<% content_for :main do %>
  <main class="visitor">
    <%= yield %>
    <%= render 'layouts/alerts' %>
  </main>
<% end %>

<% content_for :footer do %>
  <footer class="actions visitor">
    <%= yield :actions %>
  </footer>
<% end %>

<%= render template: "layouts/application" %>
